.header-logo {
  font-size: 30px;
  float:left;
  padding: 30px;
}

.header-list li {
  list-style: none;
  float: left;
  padding: 30px
}

span {
  color: red;
  margin: 500px;
  font-size: 50px
}


.contents {
  font-size: 18px;
  background-color: #add8e6:
}

.contact-forms {
  margin-top: 100px;
}

.footer-logo {
  float: left;
  padding: 20px;
}

.footer-list li {
  list-style:none;
  float: right;
  padding: 10px
}
